doctype html  
html(lang='en')  
    head
        meta(charset='utf-8')
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Login
        link(href="css/bootstrap.min.css", rel="stylesheet")
        link(href="css/login.css", rel="stylesheet")
    body
        div(class="container")
            div(class="login-container col-md-6 col-lg-4 pt-3 pb-3 pl-4 pr-4")
                div(class="login-header pt-2 pb-2")
                    div(class="form-group")
                        h4(class="text-center")
                            span(class="text-primary") S
                            span(class="text-light") tatistique App
                        hr

                div(class="login-body")
                    form(action="/login", method="post")
                        div(class="form-group")
                            input(type="text", class="form-control form-control-lg", name="username", placeholder="username")
                        div(class="form-group")
                            input(type="password", class="form-control form-control-lg", name="password", placeholder="password")
                        div(class="form-group")
                            button(class="btn btn-primary btn-block btn-lg") LOGIN
                        if (message)
                            div(class="form-group")
                                div(class="alert bg-danger text-light", role="alert")= message
                            
                div(class="login-footer")
                    div(class="form-group text-center")
                        span(class="text-light") © 2019 - 
                        span(class="text-primary") S
                        span(class="text-light") tatistique App
        script(src="js/login.js")